<h1 style="text-align: center;">HOME</h1>
<div style="text-align: center;">
    <button mat-flat-button color="primary" (click)="gestore.categoria(); gestore.hideCategoria = !gestore.hideCategoria">Visua categoria</button>
    <table [hidden]="gestore.hideCategoria" id="datatable-full" class="table table-striped dt-responsive nowrap w-100">
        <thead>
            <tr>
                <th>CCod</th>
                <th>CDescr</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of gestore.categorie">
                <td>{{x.CCod}}</td>
                <td>{{x.CDescr}}</td>
            </tr>
        </tbody>
    </table>

    <br><br>

    <button mat-flat-button color="primary" (click)="gestore.query_D(); gestore.hideQueryD = !gestore.hideQueryD">Visua Query D</button>
    <table [hidden]="gestore.hideQueryD" id="datatable-full" class="table table-striped dt-responsive nowrap w-100">
        <thead>
            <tr>
                <th>PDescr</th>
                <th>OreErogate</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of gestore.queryD">
                <td>{{x.PDescr}}</td>
                <td>{{x.OreErogate}}</td>
            </tr>
        </tbody>
    </table>

    <br><br>

    <button mat-flat-button color="primary" (click)="gestore.soci(); gestore.hideSocio = !gestore.hideSocio">Visua Socio</button>
    <table [hidden]="gestore.hideSocio" id="datatable-full" class="table table-striped dt-responsive nowrap w-100">
        <thead>
            <tr>
                <th>SCod</th>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Via</th>
                <th>Cap</th>
                <th>Citta</th>
                <th>Telefono</th>
                <th>ZCod</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of gestore.socio">
                <td>{{x.SCod}}</td>
                <td>{{x.Cognome}}</td>
                <td>{{x.nome}}</td>
                <td>{{x.via}}</td>
                <td>{{x.cap}}</td>
                <td>{{x.citta}}</td>
                <td>{{x.telefono}}</td>
                <td>{{x.ZCod}}</td>
            </tr>
        </tbody>
    </table>

    <br><br>

    <button mat-flat-button color="primary" (click)="gestore.offerte(); gestore.hideOfferta = !gestore.hideOfferta">Visua Offerta</button>
    <table [hidden]="gestore.hideOfferta" id="datatable-full" class="table table-striped dt-responsive nowrap w-100">
        <thead>
            <tr>
                <th>SCod</th>
                <th>PCod</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of gestore.offerta">
                <td>{{x.SCod}}</td>
                <td>{{x.PCod}}</td>
            </tr>
        </tbody>
    </table>

    <br><br>

    <button mat-flat-button color="primary" (click)="gestore.query_C(); gestore.hideQueryC = !gestore.hideQueryC">Visua queryC</button>
    <table [hidden]="gestore.hideQueryC" id="datatable-full" class="table table-striped dt-responsive nowrap w-100">
        <thead>
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Via</th>
                <th>Citta</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of gestore.queryC">
                <td>{{x.Cognome}}</td>
                <td>{{x.Nome}}</td>
                <td>{{x.Via}}</td>
                <td>{{x.Citta}}</td>
                <td>{{x.Telefono}}</td>
            </tr>
        </tbody>
    </table>

    <br><br>

    <button mat-flat-button color="primary" (click)="gestore.zona(); gestore.hideZone = !gestore.hideZone">Visua Zone</button>
    <table [hidden]="gestore.hideZone" id="datatable-full" class="table table-striped dt-responsive nowrap w-100">
        <thead>
            <tr>
                <th>ZCod</th>
                <th>ZDescr</th>
                <th>ZMappa</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of gestore.zone">
                <td>{{x.ZCod}}</td>
                <td>{{x.ZDescr}}</td>
                <td>{{x.ZMappa}}</td>
            </tr>
        </tbody>
    </table>

    <br><br>

    <button mat-flat-button color="primary" (click)="gestore.prestazioni(); gestore.hidePrestazione = !gestore.hidePrestazione">Visua Prestazioni</button>
    <br [hidden]="gestore.hidePrestazione">
    <br [hidden]="gestore.hidePrestazione">
    <input [hidden]="gestore.hidePrestazione"
        matInput
        type="text"
        name="pDescr"
        required
        minlength="4"
        placeholder="PDescr"
        [(ngModel)]="gestore.newPrestazione.PDescr">
        <br [hidden]="gestore.hidePrestazione">
        <mat-label [hidden]="gestore.hidePrestazione">Codice zona</mat-label>
        <mat-select [hidden]="gestore.hidePrestazione" [(ngModel)]="gestore.newPrestazione.CCod" name="ccod">
            <mat-option *ngFor="let x of gestore.categorie" [value]="x.CCod">
                {{x.CCod}}
            </mat-option>
        </mat-select>
        <button mat-flat-button color="primary" [hidden]="gestore.hidePrestazione" (click)="gestore.addPrestazione()">Inserisci</button>
    <br [hidden]="gestore.hidePrestazione">
    <table [hidden]="gestore.hidePrestazione" id="datatable-full" class="table table-striped dt-responsive nowrap w-100">
        <thead>
            <tr>
                <th>PCod</th>
                <th>PDescr</th>
                <th>CCod</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of gestore.prestazione">
                <td>{{x.PCod}}</td>
                <td>{{x.PDescr}}</td>
                <td>{{x.CCod}}</td>
            </tr>
        </tbody>
    </table>

    <br><br>

    <button mat-flat-button color="primary" (click)="gestore.query_A(); gestore.hideQueryA = !gestore.hideQueryA">Visua QueryA</button>
    <table [hidden]="gestore.hideQueryA" id="datatable-full" class="table table-striped dt-responsive nowrap w-100">
        <thead>
            <tr>
                <th>Sri</th>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Via</th>
                <th>OreDebito</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of gestore.queryA">
                <td>{{x.Sri}}</td>
                <td>{{x.Cognome}}</td>
                <td>{{x.Nome}}</td>
                <td>{{x.Via}}</td>
                <td>{{x.OreDebito}}</td>
            </tr>
        </tbody>
    </table>

    <br><br>

    <button mat-flat-button color="primary" (click)="gestore.prenotazioni(); gestore.hidePrenotazione = !gestore.hidePrenotazione">Visua Prenotazioni</button>
    <br [hidden]="gestore.hidePrenotazione">
    <br [hidden]="gestore.hidePrenotazione">
    <mat-label [hidden]="gestore.hidePrenotazione">Codice Socio</mat-label>
    <mat-select [hidden]="gestore.hidePrenotazione" [(ngModel)]="gestore.newPrenotazione.SRichiedente" name="SRichiedente">
        <mat-option *ngFor="let x of gestore.socio" [value]="x.SCod">
            {{x.SCod}}
        </mat-option>
    </mat-select>
    <br [hidden]="gestore.hidePrenotazione">
    <mat-label [hidden]="gestore.hidePrenotazione">Codice Prestazione</mat-label>
    <mat-select [hidden]="gestore.hidePrenotazione" [(ngModel)]="gestore.newPrenotazione.PCod" name="PCod">
        <mat-option *ngFor="let x of gestore.prestazione" [value]="x.PCod">
            {{x.PCod}}
        </mat-option>
    </mat-select>
    <br [hidden]="gestore.hidePrenotazione">
    <input [hidden]="gestore.hidePrenotazione"
        matInput
        type="date"
        name="pDescr"
        required
        minlength="4"
        placeholder="DataDellaRich (yyyy-mm-dd)"
        [(ngModel)]="gestore.newPrenotazione.DataDellaRich">
    <br [hidden]="gestore.hidePrenotazione">
    <input [hidden]="gestore.hidePrenotazione"
        matInput
        type="date"
        name="pDescr"
        required
        minlength="4"
        placeholder="DataP (yyyy-mm-dd)"
        [(ngModel)]="gestore.newPrenotazione.DataP">
    <br [hidden]="gestore.hidePrenotazione">
    <button mat-flat-button color="primary" [hidden]="gestore.hidePrenotazione" (click)="gestore.addPrenotazione()">Inserisci</button>
    <br [hidden]="gestore.hidePrestazione">
    <table [hidden]="gestore.hidePrenotazione" id="datatable-full" class="table table-striped dt-responsive nowrap w-100">
        <thead>
            <tr>
                <th>N</th>
                <th>SRichiedente</th>
                <th>PCod</th>
                <th>DataDellaRich</th>
                <th>DataP</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of gestore.prenotazione">
                <td>{{x.N}}</td>
                <td>{{x.SRichiedente}}</td>
                <td>{{x.PCod}}</td>
                <td>{{x.DataDellaRich}}</td>
                <td>{{x.DataP}}</td>
            </tr>
        </tbody>
    </table>

    <br><br>

    <button mat-flat-button color="primary" (click)="gestore.effettuazioni(); gestore.hideEffettua = !gestore.hideEffettua">Visua Effettuazioni</button>
    <table [hidden]="gestore.hideEffettua" id="datatable-full" class="table table-striped dt-responsive nowrap w-100">
        <thead>
            <tr>
                <th>Num</th>
                <th>Data</th>
                <th>SocioErogante</th>
                <th>SocioRicevente</th>
                <th>PCod</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of gestore.effettua">
                <td>{{x.Num}}</td>
                <td>{{x.Data}}</td>
                <td>{{x.SocioErogante}}</td>
                <td>{{x.SocioRicevente}}</td>
                <td>{{x.PCod}}</td>
            </tr>
        </tbody>
    </table>
</div>